---
import "../styles/mailer.css"
---

<div
  id='mlb2-7156917'
  class='ml-form-embedContainer ml-subscribe-form ml-subscribe-form-7156917'>
  <div class='ml-form-align-center'>
    <div class='ml-form-embedWrapper embedForm'>
      <div class='ml-form-embedBody ml-form-embedBodyDefault row-form'>
        <div class='ml-form-embedContent' style='margin-bottom: 0px; '></div>

        <form
          class='ml-block-form'
          action='https://assets.mailerlite.com/jsonp/563185/forms/97043368968717418/subscribe'
          data-code=''
          method='post'
          target='_blank'>
          <div class='ml-form-formContent'>
            <div class='ml-form-fieldRow'>
              <div class='ml-field-group ml-field-name'>
                <label>Name</label>

                <!-- input -->
                <input
                  aria-label='name'
                  type='text'
                  class='form-control'
                  data-inputmask=''
                  name='fields[name]'
                  placeholder=''
                  autocomplete='given-name'
                />
                <!-- /input -->

                <!-- textarea -->

                <!-- /textarea -->

                <!-- select -->

                <!-- /select -->

                <!-- checkboxes -->

                <!-- /checkboxes -->

                <!-- radio -->

                <!-- /radio -->

                <!-- countries -->

                <!-- /countries -->
              </div>
            </div><div class='ml-form-fieldRow ml-last-item'>
              <div
                class='ml-field-group ml-field-email ml-validate-email ml-validate-required'>
                <label>Email</label>

                <!-- input -->
                <input
                  aria-label='email'
                  aria-required='true'
                  type='email'
                  class='form-control'
                  data-inputmask=''
                  name='fields[email]'
                  placeholder=''
                  autocomplete='email' 
                />
                <!-- /input -->

                <!-- textarea -->

                <!-- /textarea -->

                <!-- select -->

                <!-- /select -->

                <!-- checkboxes -->

                <!-- /checkboxes -->

                <!-- radio -->

                <!-- /radio -->

                <!-- countries -->

                <!-- /countries -->
              </div>
            </div>
          </div>

          <!-- Privacy policy -->

          <!-- /Privacy policy -->

          <input type='hidden' name='ml-submit' value='1' />

          <div class='ml-form-embedSubmit'>
            <button type='submit' class='primary'>Subscribe</button>

            <button
              disabled='disabled'
              style='display: none;'
              type='button'
              class='loading'>
              <div class='ml-form-embedSubmitLoad'></div>
              <span class='sr-only'>Loading...</span>
            </button>
          </div>

          <input type='hidden' name='anticsrf' value='true' />
        </form>
      </div>

      <div class='ml-form-successBody row-success' style='display: none'>
        <div class='ml-form-successContent'>
          <h4>Thank you!</h4>

          <p>You have successfully joined our subscriber list.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script is:inline>
  function ml_webform_success_7156917() {
    var $ = ml_jQuery || jQuery
    $(".ml-subscribe-form-7156917 .row-success").show()
    $(".ml-subscribe-form-7156917 .row-form").hide()
  }
</script>

<script is:inline
  src='https://groot.mailerlite.com/js/w/webforms.min.js?v2d8fb22bb5b3677f161552cd9e774127'
  type='text/javascript'></script>
<script is:inline>
  fetch(
    "https://assets.mailerlite.com/jsonp/563185/forms/97043368968717418/takel"
  )
</script>
